

.hero_para{
    font-family: 'Jost';
    font-size: 11px;
    padding-left: 40px;
    line-height: 26px;
}

.plusIconImg img{
    height: 18px;
}

.dollarIconImg img{
    height: 30px;
}

.total_counts_para{
    font-size: 14px;
}

.welcome_counts_container{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 0px 0px;
}


.welocme_right_img{
    position: relative;
    border: 1px solid #FFA506;
    border-radius: 4px;
}

.welocme_right_img img{
    border-radius: 4px;
    transform: translate(-6px, 6px);
}

.welcome_right_img_box{
    margin-top: -110px;
    position: relative;
}

.svg_with_arrow{
    height: 80px;
    width: 80px;
    position: relative;
}

.arrowImageIcon{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_svg_with_arrow{
    position: absolute;
    bottom: 5px;
    left: -40px;
}

.arrowImageIcon img{
    height: 18px;
}

.welcome_section{
    padding: 20px 0px 40px;
}


svg {
    fill: currentColor;
    height: auto;
    max-width: 80px;
    height: 80px;
    transform-origin: center;
    width: 100%;
    padding: 6px;
      background-color: #FFA505;
      border-radius: 50%;
      
  }
  
  text{
      animation: rotateText 10s linear infinite;
    transform-origin: center;
  }
  
  textPath{
    letter-spacing: 3.3px;
  }

@media(max-width: 1200px){
    .welcome_para{
        font-size: 12px;
    }

    .welcome_right_img_box{
        margin-top: -30px;
    }
}

@media(min-width: 1300px){
    .hero_para{
        font-size: 14px;
    }
    
}

@media(min-width: 1800px){
    .hero_para{
        font-size: 16px;
    }
}

@media(max-width: 990px){
    .welcome_right_img_box{
        margin-top: 20px;
    }

    .welcome_counts_container {
        padding: 20px 0px 0px 0px;
    }
    
    .secondary_heading {
        font-size: 24px;
    }
    
    .total_counts_para {
        font-size: 10px;
    }
    
    .dollarIconImg img {
        height: 20px;
    }

    .plusIconImg img {
        height: 14px;
    }

}

@media(max-width: 768px){

    .welcome_para {
        font-size: 10px;
    line-height: 24px;
    }

	.welcome_counts_container{
	flex-wrap: wrap;
	}

    .total_counts_para {
        margin-bottom: 4px;
    }


}


  @keyframes rotateText {
      0% {
          transform: rotate(360deg);
          
      }
      100% {
          transform: rotate(0deg);
      }
  }