
.portfolio_section{
    background-image: url("../../asserts/images/Group\ 1171276089.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 150px;
}



.font_white_color{
    color: #fff !important;
}

.portfolio_custom_swiper{
    margin-left: 70px;
    margin-top: -110px;
}

.portfolioImg{
    position: relative;
    cursor: pointer;
}

.portfolioImg img {
    height: 515px;
}

.detailBox_under_swiper{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: end;
    padding: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.577468487394958) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.portfolioImg:hover .detailBox_under_swiper{
    opacity: 1 !important;
}

.heading_under_swiper{
    color: #fff;
}

.para_under_swiper{
    font-family: 'poppinsLight';
    color: #fff;
    font-size: 12px;
}

.actionBtn_under_swiper{
    font-family: 'Jost';
    padding: 10px 20px;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    font-weight: 300;
    border-radius: 0px;
}

@media(max-width: 1180px){
    .portfolioImg img{
        height: 425px;
    }
}

@media(max-width: 1024px){
    .portfolioImg img{
        height: 365px;
    }
}

@media(max-width: 990px){
    .actionBtn_under_swiper{
        width: 100%;
    }

    .heading_under_swiper {
        font-size: 14px;
    }
    
    .para_under_swiper {
        font-size: 9px;
    }
    
    .actionBtn_under_swiper {
        padding: 10px 6px;
        /* font-size: 10px; */
    }
}

@media (max-width: 880px) {
    .portfolioImg img {
        height: 285px;
    }
}

@media (max-width: 768px) {
    .portfolioImg img {
        height: 285px;
    }
}

@media(max-width: 767px){
    .portfolioImg img {
        height: 385px;
    }
}

@media(max-width: 600px){
    .portfolioImg img {
        height: 285px;
    }
}

@media (max-width: 500px) {
    .portfolioImg img {
        height: 225px;
    }
}

@media (max-width: 424px) {
    .portfolioImg img {
        height: 365px;
    }
}

@media (max-width: 345px) {
    .portfolioImg img {
        height: 300px;
    }
}

