
.best_products_section{
    padding: 60px 0px;
}

.productsBluefont{
    color: #1B2E51 !important;
    font-family: 'RussoOne';
}

.anonymousImg img{
    height: 50px;
}

.product_card_detail_para{
    font-family: 'poppinsLight';
    font-size: 12px;
    text-align: justify;
}

.main_product_card{
    padding: 20px;
    border-right: 1px solid #9B9B9B;
}

.product_card_heading{
    margin: 0px;
    padding: 10px 0px;
}

.borders{
    width: 810%;
    height: 1px;
    border-bottom: 1px solid #9B9B9B;
    position: absolute;
    left: 0px;
}

.borders02{
    width: 810%;
    height: 1px;
    border-bottom: 1px solid #9B9B9B;
    position: absolute;
    left: 0px;
    bottom: 0;
}

@media(max-width: 990px){
    .anonymousImg img {
        height: 30px;
    }
}